.navbar {
  background-color: #0aa2c0;
}

.nav-font {
  font-family: "Work Sans", sans-serif;
  color: white;
  font-style: normal;
}

.app-drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

a {
  text-decoration: none;
}

.shade {
  background: rgb(0 0 0 / 60%);
  height: calc(100vh + 3rem);
}

.roboto-font,
.container {
  font-family: Roboto, sans-serif;
}

.orange-this {
  background-color: #ca6510;
}

.btn {
  border: none;
}
